p 
doctype html
html
  head
    title Solicitaste un cambio de clave en DeRemate.com
  body
    p Tu código para confirmar el cambio de clave es: #{otp}
    p Si no solicitaste este cambio, por favor ignora este mensaje.